<div class="row"  *ngIf="changeVisable()">
  <form [formGroup]="keresForm">
  <table class="table">
      <tbody class="table-group-divider">
          <tr>
            <th scope="col">
              <div class="mb-3">
                <label for="minimuAr" class="form-label">Minimum ár</label>
                <input type="number" class="form-control" id="minimuAr" name="minimuAr" placeholder="4000" formControlName="minimuAr">
              </div>
            </th>
            <th scope="col">
              <div class="mb-3">
                <label for="maximumAr" class="form-label">Maximum ár</label>
                <input type="number" class="form-control" id="maximumAr" name="maximumAr" placeholder="50000" formControlName="maximumAr">
              </div>
            </th>
            <th scope="col">
              <div class="mb-3">
                <label for="szobakszama" class="form-label">Szobák száma</label>
                <input type="number" class="form-control" id="szobakszama" name="szobakszama" placeholder="2" formControlName="szobakszama">
              </div>
            </th>
            <div class="mb-3">
              <th scope="col"><button class="btn btn-outline-primary" (click)="keresRoom()">Keresés</button></th>
            </div>
          </tr>
        
      </tbody>
    </table>
  </form>
</div>

<div class="row"  *ngIf="changeVisable()">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Település</th>
            <th scope="col">Cím</th>
            <th scope="col">Ár</th>
            <th scope="col">Rezsi</th>
            <th scope="col">Szobák száma</th>
            <th scope="col">Részletek</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let haz of hazak">
            <th scope="col">{{ haz.telepules }}</th>
            <th scope="col">{{ haz.cim }}</th>
            <th scope="col">{{ haz.ar }}</th>
            <th scope="col">{{ haz.reszi }}</th>
            <th scope="col">{{ haz.szobakszama}}</th>
            <th scope="col"><button class="btn btn-outline-primary" (click)="details(haz.id)">Részletek</button></th>
          </tr>
        </tbody>
      </table>
</div>

<div class="row justify-content-center" *ngIf="!changeVisable()">
  <div class="col-md-12">
      <h4>Ház adatai</h4>
      <hr>
  </div>
  
</div>

<div class="row justify-content-center">
  <div class="col-md-4"  *ngIf="!changeVisable()">
    <table class="table" *ngFor="let haz of hazDetails">
      <tr>
        <th scope="col">Település</th>
        <th scope="col">{{ haz.telepules }}</th>
      </tr>
      <tr>
        <th scope="col">Cím</th>
        <th scope="col">{{ haz.cim }}</th>
      </tr>
      <tr>
        <th scope="col">Ár</th>
        <th scope="col">{{ haz.ar }} Ft</th>
      </tr>
      <tr>
        <th scope="col">Rezsi</th>
        <th scope="col">{{ haz.reszi }} Ft</th>
      </tr>
      <tr>
        <th scope="col">Szobák száma</th>
        <th scope="col">{{ haz.szobakszama }}</th>
      </tr>
      <tr>
        <th scope="col">Mérete</th>
        <th scope="col">{{ haz.meret }}</th>
      </tr>
      <tr>
        <th scope="col">Állapot</th>
        <th scope="col">{{ haz.alapot }}</th>
      </tr>
      <tr>
        <th scope="col">Konfort</th>
        <th scope="col">{{ haz.konfort }}</th>
      </tr>
      <tr>
        <th scope="col">Emelet</th>
         <th scope="col">{{ haz.emelet }}</th>
      </tr>
      <tr>
        <th scope="col">Épület szintje</th>
        <th scope="col">{{ haz.szint }}</th>
      </tr>
      <tr>
        <th scope="col">Lift</th>
        <th scope="col">{{ haz.lift }}</th>
      </tr>
      <tr>
        <th scope="col">Légkondicionáló</th>
        <th scope="col">{{ haz.legkondi }}</th>
      </tr>
      <tr>
        <th scope="col">Bútorozott</th>
        <th scope="col">{{ haz.butorozott }}</th>
      </tr>
      <tr>
        <th scope="col">Költözhető</th>
        <th scope="col">{{ haz.koltozheto }}</th>
      </tr>
      <tr>
        <th scope="col">Minimum bérlési idő</th>
        <th scope="col">{{ haz.minberido }}</th>
      </tr>
      <tr>
        <th scope="col">Fürdőszoba és WC</th>
        <th scope="col">{{ haz.fureswc }}</th>
      </tr>
      <tr>
        <th scope="col">Kilátás</th>
        <th scope="col">{{ haz.kilatas }}</th>
      </tr>
      <tr>
        <th scope="col">Erkély mérete</th>
        <th scope="col">{{ haz.erkelymeret }}</th>
      </tr>
      <tr>
        <th scope="col">Gépesített</th>
        <th scope="col">{{ haz.gepesitet }}</th>
      </tr>
      <tr>
        <th scope="col">Tulaj neve</th>
        <th scope="col">{{ haz.tulaj.namefb}}</th>
      </tr>
      <tr>
        <th scope="col">Tulaj Email címe</th>
        <th scope="col">{{ haz.tulaj.email}}</th>
      </tr>
      <tr>
        <th scope="col">Tulaj telefonszáma</th>
        <th scope="col">{{ haz.tulaj.telfb}}</th>
      </tr>
    </table>
    <div class="input-group">
      <button class="btn btn-outline-primary" (click)="canceled()">Mégse</button>
      <button class="btn btn-outline-primary" (click)="saveJelentkez()">Jelentkezés</button>
    </div>
  </div>
</div>