<div class="row">
    <div>Másik módszer</div>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Ár</th>
            <th scope="col">Rezsi</th>
            <th scope="col">Egyébb</th>
            <th scope="col">Dátum</th>
            <th scope="col">Összesen</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let haviossz of haviossz">
            <!-- <th scope="col">{{ haviossz.ar }}</th>
            <th scope="col">{{ haviossz.rezsi }}</th>
            <th scope="col">{{ haviossz.egyeb }}</th>
            <th scope="col">{{ haviossz.datum }}</th>
            <th scope="col">{{ haviossz.osszesen }}</th> -->
          </tr>
        </tbody>
      </table>
  </div>