<div class="row text-end">
  <div class="col-md-12">
    <button class="btn btn-outline-primary" (click)="vissza()">Vissza</button>
  </div>
</div>

<div class="row mt-2">
  <div class="col-md-12">
    <h4>Havi összesítés </h4>
    Szerződés: #{{ osszesito?.szerzodes?.id }}
    <span class="fst-italic">({{ osszesito?.szerzodes?.kezdido }} - {{osszesito?.szerzodes?.vegido }})</span>
    <br>
    Év: {{ osszesito?.ev }}
    <br>
    Hónap: {{ osszesito?.honap }}
    <br>
    Generálva: {{ formatDate(osszesito?.datum) }}
  </div>
</div>

<div class="row pt-2">
  <div class="col-md-12">
    <hr>
    <h5>Lakás</h5>
    Irányítószám: {{ osszesito?.szerzodes?.lakas?.irsz }}
    <br>
    Település: {{ osszesito?.szerzodes?.lakas?.telepules }}
    <br>
    Cím: {{ osszesito?.szerzodes?.lakas?.cim }}
    <br>
    Ár: {{ osszesito?.szerzodes?.lakas?.ar }}

    <hr>
    <h5 class="pt-2">Tulajdonos</h5>
    Név: {{ osszesito?.szerzodes?.tulajdonos?.nev}}
    <br>
    Telefonszám: {{ osszesito?.szerzodes?.tulajdonos?.telefonszam }}

    <hr>
    <h5 class="pt-2">Bérlő</h5>
    Név: {{ osszesito?.szerzodes?.berlo?.nev}}
    <br>
    Telefonszám: {{ osszesito?.szerzodes?.berlo?.telefonszam }}
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <hr>
    <h5 class="pt-2">Tételek</h5>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-sm">
      <tr>
        <th>Megnevezés</th>
        <th>Mennyiség</th>
        <th class="text-end">Összeg</th>
      </tr>
      <tr *ngFor="let tetel of osszesito?.tetelek">
        <td>{{ tetel.megnevezes }}</td>
        <td>{{ tetel.mennyiseg }} {{ tetel.egyseg }}</td>
        <td class="text-end">{{ tetel.osszeg }} Ft</td>
      </tr>
      <tr>
        <td colspan="2" class="fw-bold">Összesen:</td>
        <td class="fw-bold text-end">{{ osszesito?.szamla?.bruttoOsszeg }} Ft</td>
      </tr>
      <tr *ngIf="osszesito?.szamla">
        <td colspan="3" class="text-end">
          <button class="btn btn-outline-primary" (click)="szamlaLetoltes(osszesito?.szamla?.id || 0)">Számla letöltése</button>
        </td>
      </tr>
    </table>
  </div>
</div>