<div class="row justify-content-center">
    <div class="col-md-12">
        <h4>Ház felivitel</h4>
        <hr>
    </div>
    
</div>

<div class="row justify-content-center">
    <div class="col-md-6">
        <form [formGroup]="hazForm">
            <div class="mb-3">
                <label for="hrsz" class="form-label">Helyrajzi szám</label>
                <input type="text" class="form-control" id="hrsz" name="hrsz" placeholder="12345/1/A/1" formControlName="hrsz">
                <small class="text-danger" *ngIf="(hazForm.get('hrsz')?.touched || hazForm.get('hrsz')?.dirty) && hazForm.get('hrsz')?.hasError('required')">
                    A helyrajzi szám megadása kötelező.
                </small>
            </div>
            <div class="mb-3">
                <label for="irsz" class="form-label">Irányítószám</label>
                <input type="number" class="form-control" id="irsz" name="irsz" placeholder="3533" formControlName="irsz">
                <small class="text-danger" *ngIf="(hazForm.get('irsz')?.touched || hazForm.get('irsz')?.dirty) && hazForm.get('irsz')?.hasError('required')">
                    Az irányítószám megadása kötelező.
                </small>
                <small class="text-danger" *ngIf="(hazForm.get('irsz')?.touched || hazForm.get('irsz')?.dirty) && hazForm.get('irsz')?.hasError('min')">
                    Az irányítószám túl kicsi.
                </small>
                <small class="text-danger" *ngIf="(hazForm.get('irsz')?.touched || hazForm.get('irsz')?.dirty) && hazForm.get('irsz')?.hasError('max')">
                    Az irányítószám túl nagy.
                </small>
            </div>
            <div class="mb-3">
                <label for="telepules" class="form-label">Telepules</label>
                <input type="text" class="form-control" id="telepules" name="telepules" placeholder="Msikolc" formControlName="telepules">
                <small class="text-danger" *ngIf="(hazForm.get('telepules')?.touched || hazForm.get('telepules')?.dirty) && hazForm.get('telepules')?.hasError('required')">
                    A telepules megadása kötelező.
                </small>
            </div>
            <div class="mb-3">
                <label for="cim" class="form-label">Cím</label>
                <input type="text" class="form-control" id="cim" name="cim" placeholder="Csermőkei dülő 25" formControlName="cim">
                <small class="text-danger" *ngIf="(hazForm.get('cim')?.touched || hazForm.get('cim')?.dirty) && hazForm.get('cim')?.hasError('required')">
                    A cím megadása kötelező.
                </small>
            </div>

            <label for="rezsi" class="form-label">rezsi</label>
            <div class="input-group mb-3">
                <input type="number" class="form-control" id="rezsi" name="rezsi" placeholder="4000" formControlName="rezsi"> 
                <div class="input-group-prepend">
                    <span class="input-group-text">Ft</span>
                </div>
            </div>
            <small class="text-danger" *ngIf="(hazForm.get('rezsi')?.touched || hazForm.get('rezsi')?.dirty) && hazForm.get('rezsi')?.hasError('required')">
                A rezsi megadása kötelező.
            </small>
            <small class="text-danger" *ngIf="(hazForm.get('rezsi')?.touched || hazForm.get('rezsi')?.dirty) && hazForm.get('rezsi')?.hasError('min')">
                A rezsi értéke nem lehet minusz.
            </small>

            <div>
                <label for="ar" class="form-label">Ár</label>
            </div>
            <div class="input-group mb-3">
                <input type="number" class="form-control" id="ar" name="ar" placeholder="43000" formControlName="ar">
                <div class="input-group-prepend">
                    <span class="input-group-text">Ft</span>
                </div>
            </div>
            <small class="text-danger" *ngIf="(hazForm.get('ar')?.touched || hazForm.get('ar')?.dirty) && hazForm.get('ar')?.hasError('required')">
                Az ár megadása kötelező.
            </small>
            <small class="text-danger" *ngIf="(hazForm.get('ar')?.touched || hazForm.get('ar')?.dirty) && hazForm.get('ar')?.hasError('min')">
                Az árnak magasabbnak kell lennie 0 Ft-nál.
            </small>

            <div class="mb-3">
                <label for="szobakszama" class="form-label">Szobák száma</label>
                <input type="number" class="form-control" id="szobakszama" name="szobakszama" placeholder="2" formControlName="szobakszama">
                <small class="text-danger" *ngIf="(hazForm.get('szobakszama')?.touched || hazForm.get('szobakszama')?.dirty) && hazForm.get('szobakszama')?.hasError('required')">
                    A szobák számának megadása kötelező.
                </small>
                <small class="text-danger" *ngIf="(hazForm.get('szobakszama')?.touched || hazForm.get('szobakszama')?.dirty) && hazForm.get('szobakszama')?.hasError('min')">
                    A szobák számának több nek kell leni 0-nál.
                </small>
            </div>

            <label for="meret" class="form-label">Méret</label>
            <div class="input-group mb-3">
                <input type="number" class="form-control" id="meret" name="meret" placeholder="30" formControlName="meret">
                <div class="input-group-prepend">
                    <span class="input-group-text">m<sup>2</sup></span>
                </div>
            </div>
            <small class="text-danger" *ngIf="(hazForm.get('meret')?.touched || hazForm.get('meret')?.dirty) && hazForm.get('meret')?.hasError('required')">
                A méret megadása kötelező.
            </small>
            <small class="text-danger" *ngIf="(hazForm.get('meret')?.touched || hazForm.get('meret')?.dirty) && hazForm.get('meret')?.hasError('min')">
                A méretnek töbnek kell lennie 0 m<sup>2</sup>-nél.
            </small>

            <div class="mb-3">
                <label for="allapot" class="form-label">Álapot</label>
                <select name="allapot" id="allapot" class="form-select" formControlName="allapot">
                    <option value="Új építésű">Új építésű</option>
                    <option value="Újszerű">Újszerű</option>
                    <option value="Felújított">Felújított</option>
                    <option value="Jó állapotú">Jó állapotú</option>
                    <option value="Közepes állapotú">Közepes állapotú</option>
                    <option value="Felújítandó">Felújítandó</option>
                    <option value="Befejezetlen">Befejezetlen</option>
                </select>
                <small class="text-danger" *ngIf="(hazForm.get('allapot')?.touched || hazForm.get('allapot')?.dirty) && hazForm.get('allapot')?.hasError('required')">
                    Az álapot megadása kötelező.
                </small>
            </div>
            <!--<div class="mb-3">
                <label for="komfort" class="form-label">komfort</label>
                <select name="komfort" id="komfort" class="form-select" formControlName="komfort">
                    <option value="Luxus">Luxus</option>
                    <option value="Duplakomfort">Duplakomfort</option>
                    <option value="Összkomfort">Összkomfort</option>
                    <option value="komfortos">komfortos</option>
                    <option value="Félkomfortos">Félkomfortos</option>
                    <option value="komfort nélküli">komfort nélküli</option>
                </select>
                <small class="text-danger" *ngIf="(hazForm.get('komfort')?.touched || hazForm.get('komfort')?.dirty) && hazForm.get('komfort')?.hasError('required')">
                    A komfort megadása kötelező.
                </small>
            </div>-->

            <div *ngFor="let komfort of komfortArr">
            <input type="radio" name="komfort" id="komfort" for="komfort" formControlName="komfort" value="{{komfort.value}}" (change)="onRadioChange($event)">
            <label>{{komfort.label}}</label>
            </div>
            <small class="text-danger" *ngIf="(hazForm.get('komfort')?.touched || hazForm.get('komfort')?.dirty) && hazForm.get('komfort')?.hasError('required')">
                A komfort megadása kötelező.
            </small>


            <div class="mb-3">
                <label for="emelet" class="form-label">Emelet</label>
                <input type="number" class="form-control" id="emelet" name="emelet" placeholder="3" formControlName="emelet">
                <small class="text-danger" *ngIf="(hazForm.get('emelet')?.touched || hazForm.get('emelet')?.dirty) && hazForm.get('emelet')?.hasError('required')">
                    Az emelet megadása kötelező.
                </small>
                <small class="text-danger" *ngIf="(hazForm.get('emelet')?.touched || hazForm.get('emelet')?.dirty) && hazForm.get('emelet')?.hasError('min')">
                    Az emelet értéke nem lehet minusz.
                </small>
                <small class="text-danger" *ngIf="(hazForm.get('emelet')?.touched || hazForm.get('emelet')?.dirty) && hazForm.get('emelet')?.hasError('elteroEmelet')">
                    Az épület szintjéhez képest ez már nem létező emelet.
                </small>
            </div>
            <div class="mb-3">
                <label for="szint" class="form-label">Épület szintjeinek száma</label>
                <input type="number" class="form-control" id="szint" name="szint" placeholder="10" formControlName="szint">
                <small class="text-danger" *ngIf="(hazForm.get('szint')?.touched || hazForm.get('szint')?.dirty) && hazForm.get('szint')?.hasError('required')">
                    Az épület szintjeinek számának megadása kötelező.
                </small>
                <small class="text-danger" *ngIf="(hazForm.get('szint')?.touched || hazForm.get('szint')?.dirty) && hazForm.get('szint')?.hasError('min')">
                    Az épület szintjeinek számának értéke nem lehet minusz.
                </small>
            </div>

            <!--<div class="mb-3">
                <label for="lift" class="form-label">Lift</label>
                <select name="lift" id="lift" class="form-select" formControlName="lift">
                    <option value="Nincs">Nincs</option>
                    <option value="Van">Van</option>
                </select>
                <small class="text-danger" *ngIf="(hazForm.get('lift')?.touched || hazForm.get('lift')?.dirty) && hazForm.get('lift')?.hasError('required')">
                    A lift megadása kötelező.
                </small>
            </div>-->

            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="lift" (change)="onSwicChange($event)">
                <label class="form-check-label" for="lift">Lift</label>
            </div>
            
            <div class="mb-3">
                <label for="legkondi" class="form-label">Légkondicionáló</label>
                <select name="legkondi" id="legkondi" class="form-select" formControlName="legkondi">
                    <option value="Nincs">Nincs</option>
                    <option value="Van">Van</option>
                </select>
                <small class="text-danger" *ngIf="(hazForm.get('legkondi')?.touched || hazForm.get('legkondi')?.dirty) && hazForm.get('legkondi')?.hasError('required')">
                    A légkondicionáló megadása kötelező.
                </small>
            </div>
            <div class="mb-3">
                <label for="butorozott" class="form-label">Bútorozott</label>
                <select name="butorozott" id="butorozott" class="form-select" formControlName="butorozott">
                    <option value="Nem">Nem</option>
                    <option value="Igen">Igen</option>
                </select>
                <small class="text-danger" *ngIf="(hazForm.get('butorozott')?.touched || hazForm.get('butorozott')?.dirty) && hazForm.get('butorozott')?.hasError('required')">
                    A bútorzat megadása kötelező.
                </small>
            </div>
            <div class="mb-3">
                <label for="koltozheto" class="form-label">Költözhető</label>
                <select name="koltozheto" id="koltozheto" class="form-select" formControlName="koltozheto">
                    <option value="Nem">Nem</option>
                    <option value="Igen">Igen</option>
                </select>
                <small class="text-danger" *ngIf="(hazForm.get('koltozheto')?.touched || hazForm.get('koltozheto')?.dirty) && hazForm.get('koltozheto')?.hasError('required')">
                    A költözhető megadása kötelező.
                </small>
            </div>

            <label for="minberido" class="form-label">Minimális bérlési idő</label>
            <div class="input-group mb-3">
                <input type="number" class="form-control" id="minberido" name="minberido" placeholder="6" formControlName="minberido">
                <div class="input-group-prepend">
                    <span class="input-group-text">hó</span>
                </div>
            </div>
            <small class="text-danger" *ngIf="(hazForm.get('minberido')?.touched || hazForm.get('minberido')?.dirty) && hazForm.get('minberido')?.hasError('required')">
                A minimális bérlési idő megadása kötelező.
            </small>
            <small class="text-danger" *ngIf="(hazForm.get('minberido')?.touched || hazForm.get('minberido')?.dirty) && hazForm.get('minberido')?.hasError('min')">
                A minimális bérlési időnek több nek kell lenie 0-nál.
            </small>

            <div class="mb-3">
                <label for="fureswc" class="form-label">Fűrdő és WC</label>
                <select name="fureswc" id="fureswc" class="form-select" formControlName="fureswc">
                    <option value="Külön helyiségben">Külön helyiségben</option>
                    <option value="Egy helyiségben">Egy helyiségben</option>
                    <option value="Külön és egyben is">Külön és egyben is</option>
                </select>
                <small class="text-danger" *ngIf="(hazForm.get('fureswc')?.touched || hazForm.get('fureswc')?.dirty) && hazForm.get('fureswc')?.hasError('required')">
                    A fűrdő és wc megadása kötelező.
                </small>
            </div>
            <div class="mb-3">
                <label for="kilatas" class="form-label">Kilását</label>
                <select name="kilatas" id="kilatas" class="form-select" formControlName="kilatas">
                    <option value="Udvari">Udvari</option>
                    <option value="Utcára néző">Utcára néző</option>
                    <option value="Panorámás">Panorámás</option>
                    <option value="Kertre néző">Kertre néző</option>
                </select>
                <small class="text-danger" *ngIf="(hazForm.get('kilatas')?.touched || hazForm.get('kilatas')?.dirty) && hazForm.get('kilatas')?.hasError('required')">
                    A kilátás megadása kötelező.
                </small>
            </div>
            <div class="mb-3">
                <label for="gepesitett" class="form-label">Gépesítet</label>
                <select name="gepesitett" id="gepesitett" class="form-select" formControlName="gepesitett">
                    <option value="Nem">Nem</option>
                    <option value="Igen">Igen</option>
                </select>
                <small class="text-danger" *ngIf="(hazForm.get('gepesitett')?.touched || hazForm.get('gepesitett')?.dirty) && hazForm.get('gepesitett')?.hasError('required')">
                    A gépesítés megadása kötelező.
                </small>
            </div>

            <label for="erkelymeret" class="form-label">Erkély mérete</label>
            <div class="input-group mb-3">
                <input type="number" class="form-control" id="erkelymeret" name="erkelymeret" placeholder="3" formControlName="erkelymeret">
                <div class="input-group-prepend">
                    <span class="input-group-text">m<sup>2</sup></span>
                </div>
            </div>
            <small class="text-danger" *ngIf="(hazForm.get('erkelymeret')?.touched || hazForm.get('erkelymeret')?.dirty) && hazForm.get('erkelymeret')?.hasError('required')">
                Az erkély méretének megadása kötelező.
            </small>
            <small class="text-danger" *ngIf="(hazForm.get('erkelymeret')?.touched || hazForm.get('erkelymeret')?.dirty) && hazForm.get('erkelymeret')?.hasError('min')">
                Az erkély méretének értéke nem lehet minusz.
            </small>
            <div class="mb-3">
                <label for="hirdet" class="form-label">Meghirdet</label>
                <select name="hirdet" id="hirdet" class="form-select" formControlName="hirdet">
                    <option value="Nem">Nem</option>
                    <option value="Igen">Igen</option>
                </select>
                <small class="text-danger" *ngIf="(hazForm.get('hirdet')?.touched || hazForm.get('hirdet')?.dirty) && hazForm.get('hirdet')?.hasError('required')">
                    A meghirdetés megadása kötelező.
                </small>
            </div>

            <div class="input-group">
                <button class="btn btn-outline-primary" (click)="canceled()">Mégse</button>
                <button class="btn btn-outline-primary" (click)="saveHouse()">Mentés</button>
            </div>
        </form>
    </div>
</div>