<div class="row">
    <div>Hirdetett házak</div>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Helyrajzi szám</th>
            <th scope="col">Írszám</th>
            <th scope="col">Település</th>
            <th scope="col">Cím</th>
            <th scope="col">Szerkesztés</th>
            <th scope="col">Jelentkezők</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let haz of hazak">
            <th scope="col">{{ haz.hrsz }}</th>
            <th scope="col">{{ haz.irsz }}</th>
            <th scope="col">{{ haz.telepules }}</th>
            <th scope="col">{{ haz.cim }}</th>
            <th scope="col"><button class="btn btn-outline-primary" (click)="changeHouseValue(haz.id)">Szerkesztés</button></th>
            <th scope="col"><button class="btn btn-outline-primary" (click)="goToTheApplys(haz.id)">Jelentkezők</button></th>
          </tr>
        </tbody>
      </table>
    <div class="text-center">
        <button class="btn btn-outline-primary" (click)="creatHouse()">+</button>
    </div>
</div>

<div class="row">
    <div>Aktív szerződések</div>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Település</th>
            <th scope="col">Cím</th>
            <th scope="col">Kezdődátum</th>
            <th scope="col">Végdátum</th>
            <th scope="col">Kezelés</th>
            <th scope="col">Lezárás</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let szerzodes of sajatSzerzodesek">
            <th scope="col">{{ szerzodes.lakas.telepules }}</th>
            <th scope="col">{{ szerzodes.lakas.cim }}</th>
            <th scope="col">{{ szerzodes.kezdido }}</th>
            <th scope="col">{{ szerzodes.vegido }}</th>
            <th scope="col"><button class="btn btn-outline-primary" (click)="goToTheApply(szerzodes.id)">Kezelés</button></th>
            <th scope="col"><button class="btn btn-outline-danger" (click)="szerzodesLezaras(szerzodes.id)">Lezárás</button></th>
          </tr>
        </tbody>
      </table>
</div>

<div class="row">
    <div>Nem hírdetett házak</div>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Helyrajzi szám</th>
            <th scope="col">Írszám</th>
            <th scope="col">Település</th>
            <th scope="col">Cím</th>
            <th scope="col">Szerkesztés</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let haziko of hazakNoAd">
            <th scope="col">{{ haziko.hrsz }}</th>
            <th scope="col">{{ haziko.irsz }}</th>
            <th scope="col">{{ haziko.telepules }}</th>
            <th scope="col">{{ haziko.cim }}</th>
            <th scope="col"><button class="btn btn-outline-primary" (click)="changeHouseValue(haziko.id)">Szerkesztés</button></th>
          </tr>
        </tbody>
      </table>
</div>
