<div class="row mt-2">
    <h4>Hirdetett házak</h4>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Helyrajzi szám</th>
            <th scope="col">Irányítószám</th>
            <th scope="col">Település</th>
            <th scope="col">Cím</th>
            <th scope="col">Szerkesztés</th>
            <th scope="col">Jelentkezők</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let haz of hazak">
            <td scope="col">{{ haz.hrsz }}</td>
            <td scope="col">{{ haz.irsz }}</td>
            <td scope="col">{{ haz.telepules }}</td>
            <td scope="col">{{ haz.cim }}</td>
            <td scope="col"><button class="btn btn-outline-primary" (click)="changeHouseValue(haz.id)">Szerkesztés</button></td>
            <td scope="col"><button class="btn btn-outline-primary" (click)="goToTheApplys(haz.id)">Jelentkezők</button></td>
          </tr>
        </tbody>
      </table>
    <div class="text-center">
        <button class="btn btn-outline-primary" (click)="creatHouse()">+</button>
    </div>
</div>

<div class="row mt-2">
    <h4>Aktív szerződések</h4>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Település</th>
            <th scope="col">Cím</th>
            <th scope="col">Kezdődátum</th>
            <th scope="col">Végdátum</th>
            <th scope="col">Kezelés</th>
            <th scope="col">Lezárás</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let szerzodes of sajatSzerzodesek">
            <td scope="col">{{ szerzodes.lakas.telepules }}</td>
            <td scope="col">{{ szerzodes.lakas.cim }}</td>
            <td scope="col">{{ szerzodes.kezdido }}</td>
            <td scope="col">{{ szerzodes.vegido }}</td>
            <td scope="col"><button class="btn btn-outline-primary" (click)="goToTheApply(szerzodes.id)">Kezelés</button></td>
            <td scope="col"><button class="btn btn-outline-danger" (click)="szerzodesLezaras(szerzodes.id)">Lezárás</button></td>
          </tr>
        </tbody>
      </table>
</div>

<div class="row mt-2">
    <h4>Nem hirdetett házak</h4>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Helyrajzi szám</th>
            <th scope="col">Irányítószám</th>
            <th scope="col">Település</th>
            <th scope="col">Cím</th>
            <th scope="col">Szerkesztés</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let haz of nemHirdetettHazak">
            <td scope="col">{{ haz.hrsz }}</td>
            <td scope="col">{{ haz.irsz }}</td>
            <td scope="col">{{ haz.telepules }}</td>
            <td scope="col">{{ haz.cim }}</td>
            <td scope="col"><button class="btn btn-outline-primary" (click)="changeHouseValue(haz.id)">Szerkesztés</button></td>
          </tr>
        </tbody>
      </table>
</div>
