<div class="row justify-content-center">
  <div class="col-md-8">
    <h4>Ház adatai</h4>
    <hr>
  </div>

</div>

<div class="row justify-content-center">
  <div class="col-md-8">
    <table class="table table-striped">
      <tbody>
        <tr>
          <td class="fw-bold">Település:</td>
          <td>{{ haz?.telepules }}</td>
        </tr>
        <tr>
          <td class="fw-bold">Cím:</td>
          <td>{{ haz?.cim }}</td>
        </tr>
        <tr>
          <td class="fw-bold">Ár:</td>
          <td>{{ haz?.ar }} Ft</td>
        </tr>
        <tr>
          <td class="fw-bold">Rezsi:</td>
          <td>{{ haz?.rezsi }} Ft</td>
        </tr>
        <tr>
          <td class="fw-bold">Szobák száma:</td>
          <td>{{ haz?.szobakszama }}</td>
        </tr>
        <tr>
          <td class="fw-bold">Alapterület:</td>
          <td>{{ haz?.meret }} m<sup>2</sup></td>
        </tr>
        <tr>
          <td class="fw-bold">Állapot:</td>
          <td>{{ haz?.allapot }}</td>
        </tr>
        <tr>
          <td class="fw-bold">Komfort:</td>
          <td>{{ haz?.komfort }}</td>
        </tr>
        <tr>
          <td class="fw-bold">Emelet:</td>
          <td>{{ haz?.emelet }}</td>
        </tr>
        <tr>
          <td class="fw-bold">Épület szintjei:</td>
          <td>{{ haz?.szint }}</td>
        </tr>
        <tr>
          <td class="fw-bold">Lift:</td>
          <td>{{ haz?.lift }}</td>
        </tr>
        <tr>
          <td class="fw-bold">Légkondicionáló:</td>
          <td>{{ haz?.legkondi }}</td>
        </tr>
        <tr>
          <td class="fw-bold">Bútorozott:</td>
          <td>{{ haz?.butorozott }}</td>
        </tr>
        <tr>
          <td class="fw-bold">Költözhető:</td>
          <td>{{ haz?.koltozheto }}</td>
        </tr>
        <tr>
          <td class="fw-bold">Minimum bérlési idő:</td>
          <td>{{ haz?.minberido }} hó</td>
        </tr>
        <tr>
          <td class="fw-bold">Fürdőszoba és WC:</td>
          <td>{{ haz?.fureswc }}</td>
        </tr>
        <tr>
          <td class="fw-bold">Kilátás:</td>
          <td>{{ haz?.kilatas }}</td>
        </tr>
        <tr>
          <td class="fw-bold">Erkély mérete:</td>
          <td>{{ haz?.erkelymeret }} m<sup>2</sup></td>
        </tr>
        <tr>
          <td class="fw-bold">Gépesített:</td>
          <td>{{ haz?.gepesitett }}</td>
        </tr>
        <tr>
          <td class="fw-bold">Tulaj neve:</td>
          <td>{{ haz?.tulaj?.nev}}</td>
        </tr>
        <tr>
          <td class="fw-bold">Tulajdonos e-mail címe:</td>
          <td>{{ haz?.tulaj?.email}}</td>
        </tr>
        <tr>
          <td class="fw-bold">Tulajdonos telefonszáma:</td>
          <td>{{ haz?.tulaj?.telefonszam}}</td>
        </tr>
      </tbody>

    </table>
    <div class="input-group">
      <button class="btn btn-outline-primary" (click)="canceled()">Mégse</button>
      <button class="btn btn-outline-primary" *ngIf="authService.isUser('berlo')"
        (click)="saveJelentkez()">Jelentkezés</button>
    </div>
  </div>
</div>