<div class="row justify-content-center">
    <div class="col-md-12">
        <h4>Ház adatai</h4>
        <hr>
    </div>
    
  </div>
  
  <div class="row justify-content-center">
    <div class="col-md-4">
      <table class="table">
        <tr>
          <th scope="col">Település</th>
          <th scope="col">{{ haz?.telepules }}</th>
        </tr>
        <tr>
          <th scope="col">Cím</th>
          <th scope="col">{{ haz?.cim }}</th>
        </tr>
        <tr>
          <th scope="col">Ár</th>
          <th scope="col">{{ haz?.ar }} Ft</th>
        </tr>
        <tr>
          <th scope="col">Rezsi</th>
          <th scope="col">{{ haz?.rezsi }} Ft</th>
        </tr>
        <tr>
          <th scope="col">Szobák száma</th>
          <th scope="col">{{ haz?.szobakszama }}</th>
        </tr>
        <tr>
          <th scope="col">Alapterület</th>
          <th scope="col">{{ haz?.meret }} m<sup>2</sup></th>
        </tr>
        <tr>
          <th scope="col">Állapot</th>
          <th scope="col">{{ haz?.allapot }}</th>
        </tr>
        <tr>
          <th scope="col">Komfort</th>
          <th scope="col">{{ haz?.komfort }}</th>
        </tr>
        <tr>
          <th scope="col">Emelet</th>
           <th scope="col">{{ haz?.emelet }}</th>
        </tr>
        <tr>
          <th scope="col">Épület szintjei</th>
          <th scope="col">{{ haz?.szint }}</th>
        </tr>
        <tr>
          <th scope="col">Lift</th>
          <th scope="col">{{ haz?.lift }}</th>
        </tr>
        <tr>
          <th scope="col">Légkondicionáló</th>
          <th scope="col">{{ haz?.legkondi }}</th>
        </tr>
        <tr>
          <th scope="col">Bútorozott</th>
          <th scope="col">{{ haz?.butorozott }}</th>
        </tr>
        <tr>
          <th scope="col">Költözhető</th>
          <th scope="col">{{ haz?.koltozheto }}</th>
        </tr>
        <tr>
          <th scope="col">Minimum bérlési idő</th>
          <th scope="col">{{ haz?.minberido }} hó</th>
        </tr>
        <tr>
          <th scope="col">Fürdőszoba és WC</th>
          <th scope="col">{{ haz?.fureswc }}</th>
        </tr>
        <tr>
          <th scope="col">Kilátás</th>
          <th scope="col">{{ haz?.kilatas }}</th>
        </tr>
        <tr>
          <th scope="col">Erkély mérete</th>
          <th scope="col">{{ haz?.erkelymeret }} m<sup>2</sup></th>
        </tr>
        <tr>
          <th scope="col">Gépesített</th>
          <th scope="col">{{ haz?.gepesitett }}</th>
        </tr>
        <tr>
          <th scope="col">Tulaj neve</th>
          <th scope="col">{{ haz?.tulaj?.nev}}</th>
        </tr>
        <tr>
          <th scope="col">Tulajdonos e-mail címe</th>
          <th scope="col">{{ haz?.tulaj?.email}}</th>
        </tr>
        <tr>
          <th scope="col">Tulajdonos telefonszáma</th>
          <th scope="col">{{ haz?.tulaj?.telefonszam}}</th>
        </tr>
      </table>
      <div class="input-group">
        <button class="btn btn-outline-primary" (click)="canceled()">Mégse</button>
        <button class="btn btn-outline-primary" *ngIf="authService.isUser('berlo')" (click)="saveJelentkez()">Jelentkezés</button>
      </div>
    </div>
  </div>