<div class="row">
  <h4>Alapadatok</h4>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Helyrajzi szám</th>
            <th scope="col">Írszám</th>
            <th scope="col">Település</th>
            <th scope="col">Cím</th>
            <th scope="col">Rezsi</th>
            <th scope="col">Ár</th>
            <th scope="col">Főbérlő neve</th>
            <th scope="col">Email</th>
            <th scope="col">Telefon szám</th>
            <th scope="col">Befizetés</th>
            <th scope="col">Esemény</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let szer of Szer">
            <th scope="col">{{ szer.lakas.hrsz }}</th>
            <th scope="col">{{ szer.lakas.irsz }}</th>
            <th scope="col">{{ szer.lakas.telepules }}</th>
            <th scope="col">{{ szer.lakas.cim }}</th>
            <th scope="col">{{ szer.lakas.rezsi }}</th>
            <th scope="col">{{ szer.lakas.ar }}</th>
            <th scope="col">{{ szer.tulajdonos.nev }}</th>
            <th scope="col">{{ szer.tulajdonos.email }}</th>
            <th scope="col">{{ szer.tulajdonos.telefonszam }}</th>
            <th scope="col"><button class="btn btn-outline-primary" >Befizetés</button></th>
            <th scope="col"><button class="btn btn-outline-primary" >Esemény</button></th>
          </tr>
        </tbody>
      </table>
</div>

<div class="row pt-2">
  <div class="col-md-12">
    <h4>Káresemények</h4>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Dátum</th>
          <th scope="col">Költség</th>
          <th scope="col">Megjegyzés</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr *ngFor="let event of esemenyek">
          <th scope="col">{{ event.id }}</th>
          <th scope="col">{{ event.datum }}</th>
          <th scope="col">{{ event.koltseg }}</th>
          <th scope="col">{{ event.megjegyzes }}</th>
          <!--<th scope="col"><button class="btn btn-outline-primary" (click)="goToEvent(event.id)">Szerkesztés</button></th>-->
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-md-12 text-end me-2">
      <button class="btn btn-outline-primary" (click)="eventMake()">+</button>
    </div>
  </div>
</div>