<div class="row">
  <h4>Aktív szerződések</h4>
  
  <p *ngIf="!szerzodesek || szerzodesek.length === 0">
    Nincs aktív szerződése.
  </p>

  <table class="table" *ngIf="szerzodesek && szerzodesek.length > 0">
    <thead>
      <tr>
        <th scope="col">Helyrajzi szám</th>
        <th scope="col">Irányítószám</th>
        <th scope="col">Település</th>
        <th scope="col">Cím</th>
        <th scope="col">Rezsi</th>
        <th scope="col">Ár</th>
        <th scope="col">Főbérlő neve</th>
        <th scope="col">Email</th>
        <th scope="col">Telefonszám</th>
        <th scope="col">Részletek</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let szerzodes of szerzodesek">
        <td scope="col">{{ szerzodes.lakas.hrsz }}</td>
        <td scope="col">{{ szerzodes.lakas.irsz }}</td>
        <td scope="col">{{ szerzodes.lakas.telepules }}</td>
        <td scope="col">{{ szerzodes.lakas.cim }}</td>
        <td scope="col">{{ szerzodes.lakas.rezsi }}</td>
        <td scope="col">{{ szerzodes.lakas.ar }}</td>
        <td scope="col">{{ szerzodes.tulajdonos.nev }}</td>
        <td scope="col">{{ szerzodes.tulajdonos.email }}</td>
        <td scope="col">{{ szerzodes.tulajdonos.telefonszam }}</td>
        <td scope="col"><button class="btn btn-outline-primary" (click)="reszletek(szerzodes.id)">Részletek</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>