<div class="row justify-content-center">
    <div class="col-md-12">
        <h4>Regisztráció</h4>
        <hr>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-9">
        <div *ngFor="let user of userArr">
            <input type="radio" name="user" value="{{user.value}}" (change)="onRadioChange($event)">
            <label>{{user.label}}</label>
        </div>

        <form [formGroup]="foberloForm" *ngIf="changeUserVisable()">
            <div class="mb-3">
                <label for="nev" class="form-label">Főbérlő Név</label>
                <input type="text" class="form-control" id="nev" name="nev" placeholder="Példa Béla" formControlName="nev">
                <small class="text-danger" *ngIf="(foberloForm.get('nev')?.touched || foberloForm.get('nev')?.dirty) && foberloForm.get('nev')?.hasError('required')">
                    A tulaj név megadása kötelező.
                </small>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="pelda@bela.hu" formControlName="email">
                <small class="text-danger" *ngIf="(foberloForm.get('email')?.touched || foberloForm.get('email')?.dirty) && foberloForm.get('email')?.hasError('required')">
                    Az email cím megadása kötelező.
                </small>
                <small class="text-danger" *ngIf="(foberloForm.get('email')?.touched || foberloForm.get('email')?.dirty) && foberloForm.get('email')?.hasError('email')">
                    Érvényes email címet kell megadni.
                </small>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Jelszó</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Példa12" formControlName="password">
                <small class="text-danger" *ngIf="(foberloForm.get('password')?.touched || foberloForm.get('password')?.dirty) && foberloForm.get('password')?.hasError('required')">
                    A jelszó megadása kötelező.
                </small>
            </div>
            <div class="mb-3">
                <label for="szamlaszam" class="form-label">Számlaszám</label>
                <input type="text" class="form-control" id="szamlaszam" name="szamlaszam" placeholder="12345678-12345678-12345678" formControlName="szamlaszam">
                <small class="text-danger" *ngIf="(foberloForm.get('szamlaszam')?.touched || foberloForm.get('szamlaszam')?.dirty) && foberloForm.get('szamlaszam')?.hasError('required')">
                    A számlaszám megadása kötelező.
                </small>
            </div>
            <div class="mb-3">
                <label for="telefonszam" class="form-label">Telefonszám</label>
                <input type="text" class="form-control" id="telefonszam" name="telefonszam" placeholder="301234567" formControlName="telefonszam">
                <small class="text-danger" *ngIf="(foberloForm.get('telefonszam')?.touched || foberloForm.get('telefonszam')?.dirty) && foberloForm.get('telefonszam')?.hasError('required')">
                    A Telefonszám megadása kötelező.
                </small>
            </div>
            <div class="mb-3">
                <label for="bank" class="form-label">Bank neve</label>
                <input type="text" class="form-control" id="bank" name="bank" placeholder="OTP" formControlName="bank">
                <small class="text-danger" *ngIf="(foberloForm.get('bank')?.touched || foberloForm.get('bank')?.dirty) && foberloForm.get('bank')?.hasError('required')">
                    A bank nevének megadása kötelező.
                </small>
            </div>
            <div class="text-end">
                <button class="btn btn-outline-primary"
                    (click)="saveUser()">Mentés</button>
            </div>
        </form>

        <form [formGroup]="berloForm" *ngIf="!changeUserVisable()">
            <div class="mb-3">
                <label for="nev" class="form-label">Bérlő Név</label>
                <input type="text" class="form-control" id="nev" name="nev" placeholder="Példa Béla" formControlName="nev">
                <small class="text-danger" *ngIf="(berloForm.get('nev')?.touched || berloForm.get('nev')?.dirty) && berloForm.get('nev')?.hasError('required')">
                    A név megadása kötelező.
                </small>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="pelda@bela.hu" formControlName="email">
                <small class="text-danger" *ngIf="(berloForm.get('email')?.touched || berloForm.get('email')?.dirty) && berloForm.get('email')?.hasError('required')">
                    Az email cím megadása kötelező.
                </small>
                <small class="text-danger" *ngIf="(berloForm.get('email')?.touched || berloForm.get('email')?.dirty) && berloForm.get('email')?.hasError('email')">
                    Érvényes email címet kell megadni.
                </small>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Jelszó</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Példa12" formControlName="password">
                <small class="text-danger" *ngIf="(berloForm.get('password')?.touched || berloForm.get('password')?.dirty) && berloForm.get('password')?.hasError('required')">
                    A jelszó megadása kötelező.
                </small>
            </div>
            <div class="mb-3">
                <label for="telefonszam" class="form-label">Telefonszám</label>
                <input type="text" class="form-control" id="telefonszam" name="telefonszam" placeholder="301234567" formControlName="telefonszam">
                <small class="text-danger" *ngIf="(berloForm.get('telefonszam')?.touched || berloForm.get('telefonszam')?.dirty) && berloForm.get('telefonszam')?.hasError('required')">
                    A Telefonszám megadása kötelező.
                </small>
            </div>
            <div class="mb-3">
                <label for="irsz" class="form-label">Irányítószám</label>
                <input type="number" class="form-control" id="irsz" name="irsz" placeholder="3533" formControlName="irsz">
                <small class="text-danger" *ngIf="(berloForm.get('irsz')?.touched || berloForm.get('irsz')?.dirty) && berloForm.get('irsz')?.hasError('required')">
                    Az irányítószám megadása kötelező.
                </small>
                <small class="text-danger" *ngIf="(berloForm.get('irsz')?.touched || berloForm.get('irsz')?.dirty) && berloForm.get('irsz')?.hasError('min')">
                    Az irányítószám túl kicsi.
                </small>
                <small class="text-danger" *ngIf="(berloForm.get('irsz')?.touched || berloForm.get('irsz')?.dirty) && berloForm.get('irsz')?.hasError('max')">
                    Az irányítószám túl nagy.
                </small>
            </div>
            <div class="mb-3">
                <label for="telepules" class="form-label">Telepules</label>
                <input type="text" class="form-control" id="telepules" name="telepules" placeholder="Msikolc" formControlName="telepules">
                <small class="text-danger" *ngIf="(berloForm.get('telepules')?.touched || berloForm.get('telepules')?.dirty) && berloForm.get('telepules')?.hasError('required')">
                    A telepules megadása kötelező.
                </small>
            </div>
            <div class="mb-3">
                <label for="cim" class="form-label">Cím</label>
                <input type="text" class="form-control" id="cim" name="cim" placeholder="Csermőkei dülő 25" formControlName="cim">
                <small class="text-danger" *ngIf="(berloForm.get('cim')?.touched || berloForm.get('cim')?.dirty) && berloForm.get('cim')?.hasError('required')">
                    A cím megadása kötelező.
                </small>
            </div>
            <div class="text-end">
                <button class="btn btn-outline-primary"
                    (click)="saveUser()">Mentés</button>
            </div>
        </form>
    </div>
</div>
