<div class="row"  *ngIf="changeVisable()">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Név</th>
            <th scope="col">Ár</th>
            <th scope="col">Férőhely</th>
            <th scope="col">Szabadhely</th>
            <th scope="col">Kidaó</th>
            <th scope="col">Szerkesztés</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let szoba of szobak">
            <th scope="col">{{ szoba.nev }}</th>
            <th scope="col">{{ szoba.ar }}</th>
            <th scope="col">{{ szoba.ferohely }}</th>
            <th scope="col">{{ szoba.szabadhely }}</th>
            <th scope="col">{{ szoba.kiado }}</th>
            <th scope="col"><button class="btn btn-outline-primary" (click)="changeRoomValue(szoba.id)">Szerkesztés</button></th>
          </tr>
        </tbody>
      </table>
    <div class="text-center">
        <button class="btn btn-outline-primary" (click)="creatRoom()">+</button>
    </div>
</div>

<div class="row justify-content-center" *ngIf="!changeVisable()">
    <div class="col-md-12">
        <h4>Szoba felivitel</h4>
        <hr>
    </div>
    
</div>

<div class="row justify-content-center">
    <div class="col-md-9">
        <form [formGroup]="szobaForm" *ngIf="!changeVisable()">
            <div class="mb-3">
                <label for="nev" class="form-label">Név</label>
                <input type="text" class="form-control" id="nev" name="nev" placeholder="1. szoba" formControlName="nev">
            </div>
            <div class="mb-3">
                <label for="ar" class="form-label">Ár</label>
                <input type="number" class="form-control" id="ar" name="ar" placeholder="60000" formControlName="ar">
            </div>
            <div class="mb-3">
                <label for="meret" class="form-label">Méret</label>
                <input type="number" class="form-control" id="meret" name="meret" placeholder="25" formControlName="meret">
            </div>
            <div class="mb-3">
                <label for="ferohely" class="form-label">Férőhely</label>
                <input type="number" class="form-control" id="ferohely" name="ferohely" placeholder="2" formControlName="ferohely">
            </div>
            <div class="mb-3">
                <label for="kiado" class="form-label">Kiadó</label>
                <select name="kiado" id="kiado" class="form-select" formControlName="kiado">
                    <option value="Igen">Igen</option>
                    <option value="Nem">Nem</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="hid" class="form-label">Haz:</label>
                <select name="hid" id="hid" class="form-select" formControlName="hid">
                    <option [ngValue]="null">Nincs haz</option>
                    <option *ngFor="let haz of hazak" [ngValue]="{ id: haz.id }">
                        {{ haz.id }} {{ haz.cim }}
                    </option>
                </select>
            </div>
            <div class="text-start">
                <button class="btn btn-outline-primary" (click)="canceled()">Mégse</button>
            </div>
            <div class="text-end">
                <button class="btn btn-outline-primary" (click)="saveRoom()">Mentés</button>
            </div>
        </form>
</div>
