<div class="row">
  <div class="col-md-12">
    <h4>Alapadatok</h4>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Helyrajzi szám</th>
          <th scope="col">Ir. szám</th>
          <th scope="col">Település</th>
          <th scope="col">Cím</th>
          <th scope="col">Rezsi</th>
          <th scope="col">Ár</th>
          <th scope="col">Bérlő neve</th>
          <th scope="col">Email</th>
          <th scope="col">Telefonszám</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr>
          <td scope="col">{{ szerzodes?.lakas?.hrsz }}</td>
          <td scope="col">{{ szerzodes?.lakas?.irsz }}</td>
          <td scope="col">{{ szerzodes?.lakas?.telepules }}</td>
          <td scope="col">{{ szerzodes?.lakas?.cim }}</td>
          <td scope="col">{{ szerzodes?.lakas?.rezsi }}</td>
          <td scope="col">{{ szerzodes?.lakas?.ar }}</td>
          <td scope="col">{{ szerzodes?.berlo?.nev }}</td>
          <td scope="col">{{ szerzodes?.berlo?.email }}</td>
          <td scope="col">{{ szerzodes?.berlo?.telefonszam }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<div class="row pt-2">
  <div class="col-md-12">
    <h4>Káresemények</h4>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Dátum</th>
          <th scope="col">Költség</th>
          <th scope="col">Megjegyzés</th>
          <th scope="col">{{ authService.getRole() == 'berlo' ? 'Megtekintés' : 'Szerkesztés'}}</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr *ngFor="let event of esemenyek">
          <td scope="col">{{ event.id }}</td>
          <td scope="col">{{ event.datum }}</td>
          <td scope="col">{{ event.koltseg }}</td>
          <td scope="col">{{ event.megjegyzes }}</td>
          <td scope="col"><button class="btn btn-outline-primary" (click)="goToEvent(event.id)">{{ authService.getRole() == 'berlo' ? 'Megtekintés' : 'Szerkesztés'}}</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-md-12 text-end me-2">
      <button class="btn btn-outline-primary" (click)="eventMake()">+</button>
    </div>
  </div>
</div>


<div class="row pt-2">
  <div class="col-md-12">
    <h4>Összesítők</h4>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Év</th>
          <th scope="col">Hónap</th>
          <th scope="col">Fizetve</th>
          <th scope="col" *ngIf="authService.getRole() == 'tulaj'">Fizetés</th>
          <th scope="col">Számla</th>
          <th scope="col">Részletek</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr *ngFor="let osszesito of osszesitok">
          <td scope="col">{{ osszesito.ev }}</td>
          <td scope="col">{{ osszesito.honap }}</td>
          <td scope="col">{{ osszesito.fizetve ? "Igen" : "Nem" }}</td>
          <td scope="col" *ngIf="authService.getRole() == 'tulaj'">
            <div *ngIf="!osszesito.fizetve">
              <button class="btn btn-outline-primary" (click)="osszesitoFizetes(osszesito.id)">Fizetve</button>
            </div>
          </td>
          <td scope="col">
            <div *ngIf="osszesito?.szamla?.id">
              <button class="btn btn-outline-primary" (click)="szamlaLetoltes(osszesito.szamla.id)">Számla
                letöltés</button>
            </div>
          </td>
          <td scope="col">
            <button class="btn btn-outline-primary" (click)="osszesitoMegtekintes(osszesito.id)">Részletek</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row text-end" *ngIf="authService.getRole() == 'tulaj'">
    <div class="col-md-8"></div>
    <div class="col-md-2 text-end" *ngIf="osszesitoLehetosegek && osszesitoLehetosegek.length > 0">
      <select [(ngModel)]="osszesitoLehetoseg" class="form-select">
        <option *ngFor="let lehetoseg of osszesitoLehetosegek" [ngValue]="lehetoseg">
          {{ lehetoseg.ev }}/{{ lehetoseg.honap }}
        </option>
      </select>
    </div>
    <div class="col-md-2 text-start" *ngIf="osszesitoLehetosegek && osszesitoLehetosegek.length > 0">
      <button class="btn btn-outline-primary" (click)="osszesitoGeneralas()">Új összesítő</button>
    </div>
    <div class="col-md-4 fst-italic" *ngIf="!osszesitoLehetosegek || osszesitoLehetosegek.length === 0">
      Minden összesítő el lett készítve.
    </div>
  </div>
</div>
